/out/production/ProductLineOOProject/frontend/
/out/production/ProductLineOOProject/
/target/
/.idea/
/.settings/
/.classpath
/.project
/ProductLineOOProject.iml
/ExampleDiagram.ucls
/ProductLineOOProject.uml
/ProductLineOOProject.umlcd
