body {
  -fx-font-size: 1.2em;
}

.header {
  -fx-font-size: 2em;
}

.jfx-snackbar-content {
  -fx-background-color: black;
  -fx-background-radius: 8px;
}

.jfx-snackbar-toast {
  -fx-text-fill: WHITE;
  -fx-font-size: 20;
}

.employee--label {
  -fx-font-size: 1.5em;
  -fx-font-weight: bold;
}

.form Text, .form .text {
  -fx-underline: true;
  -fx-font-size: 1.2em;
}

.subheader {
  -fx-font-size: 1.6em;
}

JFXButton {
  -fx-border-color: white;
  -fx-background-color: teal;
  -fx-background-radius: 7px;
  -fx-text-fill: white;
}

.hero {
  -fx-font-size: 4em;
}